[package]
name = "prime-test"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
proconio = "0.4.3"
rug = "1.19.2"
rand = "0.6"
yaml-rust = "0.4"